.p-4.mb-3.bg-light.rounded
    h4.fst-italic About
    p.mb-0
        | Hi, Zino Odah speaking, welcome to my blog.
        | I love singing and am a Homo Christus, 
        | am a budding web developer, 
        | and I hope you love my content.