.p-4
    h4.fst-italic Social Links
    ol.list-unstyled
        li.mb-1
            a(href='https://github.com/Zino-Odah') GitHub
        li.mb-1
            a(href='https://twitter.com/zino_odah') Twitter
        li.mb-1
            a(href='https://www.linkedin.com/in/ewomazino-odah-343718174/') LinkedIn